@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Share+Tech+Mono&display=swap");

$font-main: "Inter", sans-serif;
$font-second: "Share Tech Mono", monospace;

$bg-color: #03001f;
$pink-color: #5236AB;

$container-width: 1297px;

body {
  font-family: $font-main;
  background-color: $bg-color;
  padding-top: 100px;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: $bg-color;
  top: 0;
  left: 0;
  width: 100%;

  &__logo {
    cursor: pointer;
  }

  &__container {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-right: 40px;

  &__item {
    list-style: none;
  }

  &__link {
    font-size: 17px;
    font-family: $font-second;
    color: #413d67;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    line-height: 19px;
    letter-spacing: 0.22em;
    position: relative;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      background: linear-gradient(to right, #e31937, #5236ab);
      bottom: -11px;
      left: 0;
    }
  }
}

.about {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__title {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 54px;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  &__title span {
    font-family: $font-second;
    text-transform: uppercase;
    background: linear-gradient(180deg, #E31937 0%, #5236AB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 58px;
  }

  &__img {
    width: 860px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 24px 0 70px;
  }

  &__text span {
    padding: 0 16px;
    display: block;
    margin-bottom: 4px;
    background-color: $pink-color;
  }
}

.news {
  height: 100vh;
}

.career {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
    width: fit-content;
    margin: 0 auto;
  }
  &__item {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    display: flex;
    justify-content: center;
  }
  &__link {
    text-decoration: none;
    font-family: $font-second;
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    &:before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease;
      background-image: url(../assets/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__button {
    background-color: $pink-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px 41px;
    cursor: pointer;
    margin: 100px auto 200px;
    display: block;
  }
}

.footer {
  &__container {
    padding: 30px 0 100px;
  }
}

