@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Share+Tech+Mono&display=swap");

$font-main: "Inter", sans-serif;
$font-second: 'Share Tech Mono', monospace;

$bg-color: #03001F;

body {
  font-family: $font-main;
  background-color: $bg-color;
}

.container {
  width: 1297px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  &__item {
    list-style: none;
  }

  &__link {
    font-size: 17px;
    font-family: $font-second;
    color: #413D67;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    line-height: 19px;
    letter-spacing: 0.22em;
    position: relative;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      background: linear-gradient(to right, #E31937, #5236AB);
      bottom: -11px;
      left: 0;
    }
  }
}